body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:52px;
  overflow:hidden;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:52px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 102, 153, 1);
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:fixed;
  right:10px;
  top:6px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background-image:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2_ref {
  border-width:0px;
  position:absolute;
  left:132px;
  top:30px;
  width:1px;
  height:1px;
}
#u3 {
  position:fixed;
  right:160px;
  top:6px;
  width:140px;
  height:44px;
  overflow:hidden;
}
#u3_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4_ref {
  border-width:0px;
  position:absolute;
  left:132px;
  top:30px;
  width:1px;
  height:1px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:1300px;
  height:54px;
  overflow:hidden;
}
#u5_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(2, 140, 171, 1);
  background-image:none;
}
#u5_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:67px;
  width:85px;
  height:22px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6_ref {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:79px;
  width:1px;
  height:1px;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:67px;
  width:130px;
  height:22px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u7_ref {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:79px;
  width:1px;
  height:1px;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:68px;
  width:141px;
  height:22px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8_ref {
  border-width:0px;
  position:absolute;
  left:844px;
  top:80px;
  width:1px;
  height:1px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1194px;
  width:1300px;
  height:40px;
  overflow:hidden;
}
#u9_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(2, 140, 171, 1);
  background-image:none;
}
#u9_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:64px;
  width:1px;
  height:29px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:64px;
  width:1px;
  height:29px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:64px;
  width:1px;
  height:29px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:64px;
  width:1px;
  height:29px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:1300px;
  height:427px;
  overflow:hidden;
}
#u14_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:427px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/index/u14_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:227px;
  top:144px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:570px;
  height:74px;
  background-image:none;
}
#u15_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:74px;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:556px;
  top:433px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:600px;
  height:74px;
  background-image:none;
}
#u17_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:74px;
  font-family:'Arial Negrita Cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:533px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1300px;
  height:661px;
  background-image:none;
}
#u19_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:661px;
  overflow:hidden;
}
#u20_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:661px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u20_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:579px;
  width:234px;
  height:218px;
  color:#FFFFFF;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:230px;
  word-wrap:break-word;
}
#u22_ref {
  border-width:0px;
  position:absolute;
  left:448px;
  top:787px;
  width:1px;
  height:1px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:606px;
  width:129px;
  height:129px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Oblique', 'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:oblique;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:745px;
  width:132px;
  height:22px;
  font-family:'Verdana Oblique', 'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:oblique;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:579px;
  width:234px;
  height:218px;
  color:#FFFFFF;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:230px;
  word-wrap:break-word;
}
#u26_ref {
  border-width:0px;
  position:absolute;
  left:780px;
  top:787px;
  width:1px;
  height:1px;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:606px;
  width:129px;
  height:129px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Oblique', 'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:oblique;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:745px;
  width:143px;
  height:22px;
  font-family:'Verdana Oblique', 'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:oblique;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:579px;
  width:234px;
  height:218px;
  color:#FFFFFF;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:230px;
  word-wrap:break-word;
}
#u30_ref {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:787px;
  width:1px;
  height:1px;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:606px;
  width:129px;
  height:129px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Oblique', 'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:oblique;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:745px;
  width:130px;
  height:22px;
  font-family:'Verdana Oblique', 'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:oblique;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
